<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <pkg-ref id="org.carthage.carthage"/>
    <domains enable_localSystem="true" enable_anywhere="true" enable_currentUserHome="false" />
    <options customize="never" require-scripts="false"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.10"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="org.carthage.carthage"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="org.carthage.carthage" visible="false">
        <pkg-ref id="org.carthage.carthage"/>
    </choice>
    <pkg-ref id="org.carthage.carthage" version="1.0.0" onConclusion="none">CarthageApp.pkg</pkg-ref>
</installer-gui-script>
